.input-block {
  margin: 30px auto 0 auto;
  height: 86px;
  width: 280px;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.input-block input {
  margin: 4px auto 0 auto;
  padding: 0 15px;
  width: 270px;
  height: 40px;
  border: none;
  border-radius: 20px;
  text-align: center;
  outline: none;
  font-family: Nunito;
  font-style: normal;
  font-weight: 800;
  color: black;
  background-color: rgb(198, 198, 198);
}

.input-block p {
  font-family: Nunito;
  font-style: normal;
  font-weight: 800;
  font-size: 15px;
  line-height: 25px;
  color: black;
  margin-left: 4px;
}
