.client-view-part {
  margin: 20px auto 10px auto;
  padding: 10px 10px;
  width: 315px;
  border-radius: 5px;
  background-color: rgb(198, 198, 198);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.client-view-part p {
  margin-bottom: 15px;
  font-family: Nunito;
  font-style: normal;
  font-weight: 800;
  font-size: 15px;
  color: black;
}

.client-view-part .file-list {
  padding: 2px 10px 15px 10px;
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  background-color: white;
}

.client-view-part .file-list .file {
  margin-top: 12px;
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  box-shadow: 2px 2px 4px 2px rgb(198, 198, 198);
}

.client-view-part .file-list .file a {
  overflow: hidden;
  margin: 0;
  padding: 5px;
  height: 100%;
  width: 100%;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  font-family: Nunito;
  font-style: normal;
  font-weight: 800;
  line-height: 20px;
  color: black;
}

.client-view-part .file-list .file a:hover {
  cursor: pointer;
}
